<form id="form-fazerLogin">
    <h1><b>Fazer login</b></h1>
   
    <section>
        <label for="email">Email
            <input type="email" id="email" placeholder="Digite seu email" required>
        </label>

        <label for="senha">Senha
            <input type="password" id="senha" placeholder="Digite sua senha" required>
        </label>
    </section>
    
    <div>
        <button type="button" class="button_Confirm" onclick="loginUsuario()">Entrar</button>
        <h6>Nao tem conta ? <a href="#" onclick="showPage('register')" role="button">Inscrever-se!</a> </h6>
    </div>
</form>