<form class="form-registrar">
    <h1><b>Criar conta</b></h1>
   
    <section>
        <label for="email">Email
            <input type="email" id="email" placeholder="Digite seu email" required>
        </label>

        <label for="senha">Senha
            <input type="password" id="senha" placeholder="Digite sua senha" required>
        </label>
    </section>

    <div>
        <button type="button" class="button_Confirm" onclick="registrar()">Salvar</button>
        <h6>Já possui uma conta! <a href="#" onclick="showPage('login')" role="button">Fazer login!</a> </h6>
    </div>
</form>